<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <script src="https://kit.fontawesome.com/99f9963ced.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
      <% if user_signed_in? %>
        <li>
          
          <ul>
          <%= link_to "Bookers", root_path %>
            <nav>
            <%= link_to "Home",root_path %>
            <%= link_to "Users", users_path %>
            <%= link_to "books", books_path %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </nav>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to "Bookers", root_path %>
          <nav>
            <%= link_to "Home", root_path %>
            <%= link_to "About", homes_about_path %>
            <%= link_to "Sing up",new_user_registration_path %>
            <%= link_to "Log in",user_session_path %>
          </nav>  
         </li>
      <% end %>
    </header>
  <body>
    <%= yield %>
  </body>
  
  <footer>
    <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
  </footer>
  
</html>
